.header {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__logo {
    font-size: 2.6rem;
    padding: 1rem;
    color: orangered;
    display: flex;
    align-items: center;
  }

  &__logo-img {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-item {
    margin: 0 2rem;
  }

  &__nav-link {
    background-color: transparent;
    border: none;
    position: relative;
    color: orangered;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__cart-quantity {
    position: absolute;
    top: -1rem;
    right: -2rem;
    background-color: orangered;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
  }
}