.header {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 499px) {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }

  &__logo {
    font-size: 2.6rem;
    padding: 1rem;
    color: orangered;
    display: flex;
    align-items: center;
    @media (max-width: 1290px) {
      font-size: 2rem;
    }
  }

  &__logo-img {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    @media (max-width: 1290px) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__logo-name {
    @media (max-width: 499px) {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-item {
    margin: 0 2rem;
  }

  &__nav-link {
    background-color: transparent;
    border: none;
    position: relative;
    color: orangered;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
    @media (max-width: 499px) {
      font-size: 1.2rem;
    }
  }

  &__cart-quantity {
    position: absolute;
    top: -1rem;
    right: -2rem;
    background-color: orangered;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
  }
}
