.results-list {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 2rem;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1rem;

  &__noresults {
    color: orangered;
    font-size: 1.6rem;
  }
}
