.sneaker-li {
  position: relative;
  width: 30rem;
  height: 30rem;
  // margin-right: 1rem;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.35);

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }

  &:hover .sneaker-li__image {
    transform: scale(1.1);
  }

  &__data {
    width: 100%;
    position: absolute;
    padding: 2rem;
    bottom: 0;
    left: 0;
    color: #333;
    font-size: 1.8rem;
  }

  &__price {
    width: 5rem;
    color: #eb2325;
    display: block;
    margin-left: auto;
  }

  &__fav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #333;
  }

  &__brand {
    font-weight: 700;
  }
}
