.custom-button {
  padding: 1rem;
  min-width: 25rem;
  border: none;
  background-color: rgb(255, 69, 0);
  color: rgb(219, 219, 219);
  cursor: pointer;
  margin: 2rem 0;
  font-size: 1.8rem;
  font-family: inherit;
  display: block;


  &:hover {
    background-color: rgb(156, 42, 0);
    color: #ffffff;
  }
}