.product {
  padding: 4rem;
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.6);

  &__images {
  }

  &__image {
    margin: 1rem;
  }

  &__brand {
    font-size: 3rem;
    color: orangered;
  }

  &__model {
    font-size: 2.4rem;
    color: #ffffff;
  }

  &__gender {
    font-size: 2.4rem;
    color: rgb(245, 176, 187);
  }

  &__description {
    color: #ffffff;
    font-size: 1.8rem;
  }
}
