.product {
  padding: 4rem;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 120rem;

  &__images {
    display: flex;
    justify-content: space-around;
  }

  &__image {
    margin: 1rem;
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    font-size: 3rem;
    color: orangered;
  }

  &__model {
    font-size: 2.4rem;
    color: #ffffff;
  }

  &__gender {
    font-size: 2.4rem;
    color: #f5b0bb;
  }

  &__description {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 4rem 0;
  }

  &__category {
    font-size: 2.4rem;
    margin: 1rem;

    color: #ffffff;
    background: linear-gradient(to right, #ff512f, #f09819);
    padding: 1rem;
    transform: skewX(-15deg);
  }

  &__price {
    font-size: 3.6rem;
    font-weight: 300;
    background-color: #ffffff;
    display: inline-block;
    padding: 0.5rem;
    //width: 15rem;
    text-align: right;
  }

  &__sizes {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
      font-size: 2.4rem;
      color: #ffffff;
    }
  }

  /* Customize the label (the container) */

  &__sizes-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  &__sizes-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  &__sizes-checkmark {
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  &__sizes-container:hover input ~ .product__sizes-checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  &__sizes-container input:checked ~ .product__sizes-checkmark {
    background-color: orangered;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &__sizes-checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  &__sizes-container input:checked ~ .product__sizes-checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  &__sizes-container .product__sizes-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}
