.order {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 4rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  @media (max-width: 999px) {
    margin: 1rem;
    padding: 1rem;
  }

  &__heading {
    font-size: 2.4rem;
    color: orangered;
    margin: 2rem auto;
  }

  &__user-data {
    @media (max-width: 699px) {
      grid-column: 1/-1;
    }
  }

  &__cart-data {
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media (max-width: 999px) {
      grid-column: 2/7;
    }
    @media (max-width: 699px) {
      grid-column: 1/-1;
    }
  }

  &__total-price {
    color: #ffffff;
    align-self: flex-end;
    width: 16rem;
    margin-right: 4rem;
    font-size: 1.6rem;
    text-decoration: underline;
  }

  &__paypal-box {
    @media (max-width: 699px) {
      grid-column: 1/-1;
      padding: 2rem;
    }
  }

  &__cancel {
    color: orangered;
    font-size: 2.4rem;
    cursor: pointer;
    transform: translateX(2rem);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateX(0);
    }
  }
}
