.dd-wrapper {
  position: relative;
  width: 22rem;

  margin: auto 0.5rem;
}

.dd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 3rem;
  color: #ffffff;
  border-radius: 3px;
  cursor: default;
  position: relative;
  background-color: #333;

  span {
    margin-right: 20px;
  }
}
.dd-header-title {
  font-size: 1.4rem;
  margin: 2px 20px;
  margin-right: 30px;
}

.angle-down {
  color: black;
  margin-right: 20px;
}

.dd-list {
  z-index: 10;
  position: absolute;
  width: 100%;
  // border: 1px solid rgb(223, 223, 223);
  // bottom: 0;
  // transform: translateY(100%);
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #333;
  box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
  padding: 1rem 0;
  max-height: 21rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.dd-list-item {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  color: #ffffff;

  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    color: white;
    background-color: orangered;
  }
}

.dd-checkmark {
  color: orangered;
}
