*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;

  @media (max-width: 499px) {
    margin-top: 5rem;
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  background-image: url('../assets/images/bg_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: 1px solid transparent;
}

input:focus {
  border: 1px solid orangered;
}
